@model IEnumerable<DataChinthapatla.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleModel)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleModel)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.VehicleId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.VehicleId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.VehicleId">Delete</a>
        </td>
    </tr>
}
</table>
